@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba Iván Mendoza</h1>
    <p>Email    : Ivan.mendoza.rueda@gmail.com.</p>
    <p>Telefono : 3157210532</p>
</div>
